.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.logo {
    height: 50px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.home-button, .form-button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}